doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    nav.mainNav
      a(href="/about.html").mainNav__item about

    header.mainHeader
      block header

    .mainContent
      block content

    .mainFooter
      include /includes/foot
