doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    .mainNav
      a(href="/").logo
        svg(width="90" height="28")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")
      nav.mainNav__list
        ul.list-unstyled
          li.mainNav__list--item
            a(href="#about") About
          li.mainNav__list--item
            a(href="#selected-projects") Projects
          li.mainNav__list--item
            a(href="#workflow") Workflow

    header.mainHeader
      block header

    .mainContent
      block content

    .mainFooter
      .container
        include /includes/foot
