doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    .mainNav
      a(href="/" aria-label="Bogdan Petrescu logo").logo
        svg(width="90" height="28")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")
      nav.mainNav__list
        ul.list-unstyled
          li.mainNav__list--item
            a(href="#work") Work
          li.mainNav__list--item
            a(href="#process") Process
          li.mainNav__list--item
            a(href="#contact") Contact

    header.mainHeader
      block header

    .mainContent
      block content

    .mainFooter
      .container
        include /includes/foot
