doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    nav.mainNav
      a(href="/").mark bogdanpetrescu
      span.text--muted.text--small /#{page.url}
      a(href="/about.html").mainNav__item.small about

    header.mainHeader
      .container
        block header

    .mainContent
      .container
        block content

    .mainFooter
      include /includes/foot
