doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    include /includes/symbols.svg

    nav.mainNav
      include /includes/main-nav.pug

    div(role="main", id="content", class="mainContent")
      .container
        block content

    include /includes/foot
