doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    include /includes/symbols.svg

    .container
      nav.about
        include /includes/main-nav.pug

      section.work
        block work

      section.articles
        block articles

    include /includes/foot
