doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    include /includes/symbols.svg
    .site-wrap

      header.mainHeader
        include /includes/header.pug

        block header

      div(role="main", id="content", class="mainContent")
        block content

    include /includes/foot
