doctype html
html(lang="en")
  head
    include /includes/head.pug
  body
    include /includes/symbols.svg

    .site-wrap
      header.mainHeader
        .container
          .topBar
            include /includes/header.pug
          include /includes/extended-nav.pug
          .hero
            block header

      div(role="main", id="content", class="mainContent")
        block content

    include /includes/foot
