extends /layout/base

//- Page specific vars
block vars
  -
    page = {
      title: "About - Bogdan Petrescu · Product Designer",
      description: "A page about myself."
    }

block content
  .container
    section
      .section-scroller.section-scroller--right(data-section="About me")
        span
      .about
        h1.h0.mb0.mt0 Hello!
        p.mb0 Bogdan here,
        p.mb0 A curious and self-taught product designer based in Romania, currently getting up in the morning to design stuff at
          strong  #[a(href="https://www.caphyon.com/") Caphyon].
        p.mb0 Passionate about solving problems that meets at the intersection of business needs, design and technical implementation. I am always excited to talk about HCI, data-driven design and that fancy thing called Gestalt Principles.
        p.mb0 On the other hand, I am trying to stay up-to-date with the latest news about CSS, web accessibility and responsive web design.
        p.mb0 I like to think about myself as a constantly learner trying to do my best in having a various knowledge about the industry I am working.
  
    section
      .section-scroller.section-scroller--left(data-section="Experience")
        span
      .about
        h2.h5.mb0 Product Designer - #[span.text--slim Caphyon]
        p.mb0.text--small.text--muted 2016 - Present
        p I joined Caphyon as an intern on Advanced Web Ranking team. A few years later I am still excited to get up in the morning to help discovering and solving new problems among with my awesome colleagues. Some of my duties include working on our web application, marketing website, open source project and branding

        br

        h2.h5.mt0.mb0 Freelancer
        p.mb0.text--small.text--muted 2014 - 2016
        p Being a freelancer has been very rewarding for me since it was the time i learned a lot about graphic design, tools and communcation. Done graphic design work for a few local businesses from my area.