extends /layout/base

//- Page specific vars
block vars
  -
    page = {
      url: "about",
      title: "About - Bogdan Petrescu · Product Designer",
      description: "A page about myself."
    }

block content
  .section
    h1.h0.section__title About#[br]Myself

  article
    p.text--label.text--muted About
    p I’m Bogdan Petrescu, a self-taught digital product designer with 5 years of experience in the design field.
    p Focused on transforming ideas into efficient user experiences, packaged in a accessible and visually pleasing interface. I’m deeply passionate about product design at both a strategic and hands-on level.
    p Currently, I am part of the team at #[a(href="#") Caphyon], getting up in the morning to draw rectangles and change colors.
    p.mb0 On the other hand, I am trying to stay up-to-date with the latest news about CSS, web accessibility and responsive web design.