extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block work
  section.section
    h2.section__heading Selected projects
    .project
      .project__img(style="background-image: url('http://placehold.it/500x500')")
      a(href="").project__info
        h3.mt0 Awesome project name
        p.small.mb0 Read more
          span
            svg(width="16" height="16")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow")

    .project
      .project__img(style="background-image: url('http://placehold.it/500x500')")
      a(href="").project__info
        h3.mt0 Awesome project name
        p.small.mb0 Read more
          span
            svg(width="16" height="16")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow")

block articles
  h2.section__heading.mb0 Thoughts
  a(href="#" data-category="Design").article__block.h4 A awesome article name
  a(href="#" data-category="Design").article__block.h4 Also a awesome article but with a long name