extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block content
  .container
    section
      h1.h0.header__title.text--center I am passionate
        br
        span.header__highlight about design
      img(src="/assets/img/hr.svg").img-fluid.divider
    section
      .row
        .col-md-6
          .bio.text--right
            p Hello, i am Bogdan Petrescu, a designer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue dui, volutpat a ante in, interdum pulvinar augue. Nulla facilisi. Maecenas in augue commodo, aliquam odio a.Nulla facilisi. Maecenas in augue commodo, aliquam odio a.Nulla facilisi.
            a(href="/").btn.btn--primary More about me
          .gallery
            a(href="/").gallery--item
              .gallery--item__heading Test
          .gallery
            a(href="/").gallery--item
              .gallery--item__heading Test
        .col-md-6
          .gallery
            a(href="/").gallery--item
              .gallery--item__heading Test
          .gallery
            a(href="/").gallery--item
              .gallery--item__heading Test
