extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      url: "index",
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block header
  .mainHeader__profile
    img(src="/assets/img/profile-pic.png" alt="Bogdan Petrescu picture")
  .mainHeader__heading
    h1.mt0.mb0.h0 A product #[br] designer
    p.text--muted.mb0 dive into my imagination
  .mainHeader__heading--info
    ul.list-unstyled
      li
        strong.text--small.text--muted Strategy
      li
        strong.text--small.text--muted Product design
      li
        strong.text--small.text--muted Development

block content
  .section
    h1.h0.section__title Selected#[br]Projects

  .project
    a(href="#").project__title
      h1 Advanced#[br]Web Ranking
    .project__presentation
      img(src="http://placehold.it/500x500" alt="Advanced Web Ranking illustration")
  .project
    a(href="#").project__title
      h1 AWRStudyr
    .project__presentation
      img(src="http://placehold.it/500x500" alt="AWRStudyr illustration")
  .project
    a(href="#").project__title
      h1 Rethinking #[br]rank tracking
    .project__presentation
      img(src="http://placehold.it/500x500" alt="Advanced Web Ranking app illustration")