extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block header
  h1.mainHeader__title I like
    span.mainHeader__title--activity designing

block content
  section.section.section__aboutme
    .section__aboutme--content
      .container
        p #[span.section-highlight Hello], i am Bogdan. A designer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu metus at est tincidunt tempus id in velit. Vivamus non pretium orci. Praesent sed elit justo aliquam eu metus at est tincidunt tempus id in velit. Vivamus non.
        p Currently getting up in the morning to create things at #[a(href="http://www.caphyon.com/") Caphyon].

        ul
          li Sometimes i am on Twitter as #[a(href="") @bogdanptr]
          li Other times i post designs on #[a(href="") Dribbble]
          li Whenever i got time, i like to take photos and post them on my #[a(href="") Instagram]

  section.section
    .container
      +work("/", "https://www.picmonkey.com/_/static/images/index/picmonkey_twitter_02.24fd38f81e59.jpg", "firstwork")
        h3 test
        p test test
