extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      url: "index",
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block header
  img(src="/assets/img/profile-pic.png" alt="Bogdan Petrescu picture" width="800").img-fluid.mainHeader__profile
  .mainHeader__heading
    h1.h0.mt0.mb0 A
    h1.mt0.mb0 Digital #[br] designer
  .mainHeader__heading--info
    ul.list-unstyled
      li
        strong Strategy
      li
        strong Product design
      li
        strong Development
  .mainHeader__heading--info
    p Self-taught product designer with 5 years experience in the design field

block content
  .section-grid
    .section
      p.text--label.section__label.text--muted Work
      a(href="#").h1.section__title Selected Projects
      .section__info
        p Selected projects I’ve been working through the years. Marketing websites, complex web apps and even browsers extension, I got them all.
    p.section__info--quote.text--muted.text--right “Future is designed”

  .section-grid
    p.section__info--quote.text--muted.text--left “If you quit on the process,#[br]you are quitting on the result.”
    .section.section--alt
      p.text--label.section__label.text--muted Process
      a(href="#").h1.section__title About the process
      .section__info
        p I'm deeply passionate about the end-to-end process of a product cycle. Everything from strategy to design hands-on level.