extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block header
  .grid.grid-2
    .section
      p.text--small.text--muted.text--label On brief
      h2.h4.mt0 Bogdan Petrescu, a designer crafting digital experiences.
      h2.h4 Big believer in user-centered design.
      h2.h4 Pasionate about product design but mostly I like to do a little bit of everything.
      h2.h4 Dive into my imagination.

block content
  .grid.grid-2
    .section
      p.text--small.text--muted.text--label Projects
      h2.h4 Some selected projects I’ve been working through the years.

  .projects-grid
    .project
      h6.mt0.mb0 Advanced Web Ranking
      p.text--small.text--muted.mt0.mb0 advancedwebranking.com
      a(href="#").project__img
        img(src="https://cdn.dribbble.com/users/1075340/screenshots/6363468/artboard_6.png" alt="")
    .project
      h6.mt0.mb0 AWRStudyr
      p.text--small.text--muted.mt0.mb0 awrstudyr.com
      a(href="#").project__img
        img(src="/assets/img/awrstudyr-cover.png" alt="")
    .project
      h6.mt0.mb0 Redefining rank tracking
      p.text--small.text--muted.mt0.mb0 app.advancedwebranking.com
      a(href="#").project__img
        img(src="https://cdn.dribbble.com/users/1075340/screenshots/6118787/af-pres.png" alt="")
    .project
      h6.mt0.mb0 Behind the scenes
      a(href="#").project__img
        img(src="/assets/img/awrstudyr-cover.png" alt="")
    //- .project
    //-   p.text--small.text--muted.text--label 2016 - Present
    //-   a(href="#").project__img
    //-     <video playsinline muted autoplay loop>
    //-     <source src="https://cdn.dribbble.com/users/606683/videos/24862/finder-for-ipad-concept-video-preview.mp4" type="video/mp4">
    //-     </video>
    //-   .project__info
    //-     h6.mt0.mb0 Advanced Web Ranking
    //-     small.text--small.text--muted advancedwebranking.com


  //- .container
  //-   section
  //-     ul#dribbbleShots.list-unstyled
  //-   p.text--center Explore more 'behind the scenes' shots on #[a(href="https://dribbble.com/bogdanptr") Dribbble]