extends /layout/base

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block content
  .text-xs-center
      h1.display-4 Hello there! I am Bogdan, a designer.
      p Work in progress. Going live soon!
