extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block content

  a.logo(href="/" aria-label="Personal logo")
    svg(width="30" height="30")
      use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#logo")
  p 👋 &nbsp; I am Bogdan, a designer
  h1.h0.mt0 I love creating digital products
  .grid.grid--gutter
    .grid__col--67
      .about__info
        p.mt0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut volutpat est. Mauris ornare nulla eu arcu sagittis hendrerit. 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut volutpat est. Mauris ornare nulla eu arcu sagittis hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut volutpat est. Mauris ornare nulla eu arcu sagittis hendrerit. 

      hr

      .about__social
        p.small.text--muted Thanks for stopping by!
        a.small(href="https://twitter.com/bogdanptr") Twitter.
        a.small(href='https://dribbble.com/bogdanptr') Dribbble.
        a.small(href="https://www.instagram.com/bogdan.ptr/") Instagram.

    .grid__col--33
      .about__pic
        img(src="/assets/img/profile.jpg" alt="Picture of myself").img-fluid