extends /layout/base

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block content
  header.header.text-center
    .topHero--full
      h1.header-text.display-3 I design experiences
      p.text-uppercased Launching Soon
