extends /layout/base

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block content
  header.mainHeader.text-center
    .topHero--full
      .logo
        svg(width="75" height="75")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/icons.svg#logo")
      h1.mainHeader__title I design experiences
      p.mainHeader__content Launching Soon
  footer.mainFooter.text-center
    a.social-icon(href="https://www.facebook.com/bogdanptr0")
      svg(width="30" height="30")
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/icons.svg#twitter")
    a.social-icon(href="https://twitter.com/bogdanptr")
      svg(width="30" height="30")
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/icons.svg#instagram")
    a.social-icon(href="https://www.instagram.com/bogdan.ptr/")
      svg(width="30" height="30")
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/icons.svg#facebook")
