extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block header
  .profile
  .bio
    h1.h0.mb0.mt0 Bogdan Petrescu
    h1.text--slim.mt0 a designer crafting#[br]digital experiences
    a(href="/about.html").btn #[span ↪] Read my story

block content
  .container
    .section
      h2.h4.section--title Some selected projects I’ve been working through the years.
      img(width="300" src="/assets/img/work.png" alt="Work typography illustration").img-fluid

  .project.project--one
    .project__details
      p.text--small.text--muted.text--label.mb0.mt0 2016 - Present
      h2.h1.mt0.text--normal.mb0 Advanced Web Ranking
      p From research to sketches, visuals and front-end implementation, AWR is the biggest project I’ve been contributed.
      br
      p.text--small.text--muted.text--label Case studies
      a(href="#").project__btn
        svg(width="40" height="40" fill="none" viewBox="0 0 148 148" xmlns="http://www.w3.org/2000/svg")
          path(d="M71 53l26 22.5L71 98M97 75H37" stroke="currentColor" vector-effect="non-scaling-stroke")
          circle(cx="73" cy="73" r="70" stroke="currentColor" id="circle1" class="circle" vector-effect="non-scaling-stroke")
        span Redefining rank tracking

      a(href="#").project__btn
        svg(width="40" height="40" fill="none" viewBox="0 0 148 148" xmlns="http://www.w3.org/2000/svg")
          path(d="M71 53l26 22.5L71 98M97 75H37" stroke="currentColor" vector-effect="non-scaling-stroke")
          circle(cx="73" cy="73" r="70" stroke="currentColor" id="circle1" class="circle" vector-effect="non-scaling-stroke")
        span A new website

      a(href="#").project__btn
        svg(width="40" height="40" fill="none" viewBox="0 0 148 148" xmlns="http://www.w3.org/2000/svg")
          path(d="M71 53l26 22.5L71 98M97 75H37" stroke="currentColor" vector-effect="non-scaling-stroke")
          circle(cx="73" cy="73" r="70" stroke="currentColor" id="circle1" class="circle" vector-effect="non-scaling-stroke")
        span Guiding the styles

    .project__image

  .container
    section
      ul#dribbbleShots.list-unstyled
    p.text--center Explore more 'behind the scenes' shots on #[a(href="https://dribbble.com/bogdanptr") Dribbble]