extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block header
  .text--center
    h1.mainHeader__name.mb0 Hi, I am Bogdan Petrescu
    h2.mainHeader__content.mt0 I like designing

block content
  h1 test
  h1 test
  h1 test
  h1 test
  h1 test
