extends /layout/base

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block content
  h1 Test test
