extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      url: "index",
      title: "Bogdan Petrescu - Design Entrepreneur",
      description: "Focused on transforming ideas into efficient user experiences, packaged in a accessible and visually pleasing interfaces"
    }

block header
  .mainHeader__profile
  .mainHeader__heading.show-on-scroll
    h1.mb0.h0 Design<br>Entrepreneur
    p.text--muted.mb0 Dive into my imagination

block content
  .container
    .section#about
      .section__title.show-on-scroll
        h2.mt0.h0 Everyone#[br]has a story
      .section__content.show-on-scroll
        h4 So do I...
        p.text--muted I am a product designer turned entrepreneur with over 7 years of experience in building & scaling SaaS startups.
        p.text--muted I help tech companies with:
        ul.list-numeric
          li
            p Product discovery and market positioning
          li
            p Developing the MVP prototype in order to raise funds
          li
            p Connecting the dots in the product's UX
          li
            p Scaling the product through deep audits and clearly solutions
          li
            p Optimizing business conversions and improving user retention

    .section#work
      .section__title.show-on-scroll
        h2.mt0.h0 Projects I’ve been working on
  .projects.show-on-scroll
    .projects__screenshots
      .projects__screenshots--first
        ul.list-unstyled
          li
            img(src="/assets/img/projects/prakti-preview1.png" alt="First Prakti presentation screenshot" loading="lazy").img-fluid.prakti.show
          li
            img(src="/assets/img/projects/hyperhuman-preview1.png" alt="First Hyperhuman presentation screenshot" loading="lazy").img-fluid.hyperhuman
          li
            img(src="/assets/img/projects/sessions-preview1.png" alt="First Sessions presentation screenshot" loading="lazy").img-fluid.sessions
          li
            img(src="/assets/img/projects/advancedwebranking/awr-preview1.png" alt="First Advanced Web Ranking presentation screenshot" loading="lazy").img-fluid.awr
      .projects__screenshots--second
        ul.list-unstyled
          li
            img(src="/assets/img/projects/prakti-preview2.png" alt="First Prakti presentation screenshot" loading="lazy").img-fluid.prakti.show
          li
            img(src="/assets/img/projects/hyperhuman-preview2.png" alt="Second Hyperhuman presentation screenshot" loading="lazy").img-fluid.hyperhuman
          li
            img(src="/assets/img/projects/sessions-preview2.png" alt="Second Sessions presentation screenshot" loading="lazy").img-fluid.sessions
          li
            img(src="/assets/img/projects/advancedwebranking/awr-preview2.png" alt="Second Advanced Web Ranking presentation screenshot" loading="lazy").img-fluid.awr
    .projects__list
      ul.list-unstyled.show-on-scroll
        li
          a(href="https://prakti.studio/" target="_blank" rel="noopener noreferrer" data-project-name="prakti").active
            p.text--label.text--muted 2022 - Present
            h3.mt0.mb0 Prakti Studio
          .projects__list--mobscreen
        li
          a(href="https://hyperhuman.cc/" target="_blank" rel="noopener noreferrer" data-project-name="hyperhuman")
            p.text--label.text--muted 2022
            h3.mt0.mb0 Hyperhuman
          .projects__list--mobscreen
        li
          a(href="https://sessions.us/" target="_blank" rel="noopener noreferrer" data-project-name="sessions")
            p.text--label.text--muted 2021 - 2022
            h3.mt0.mb0 Sessions
          .projects__list--mobscreen
        li
          a(href="https://www.advancedwebranking.com/" target="_blank" rel="noopener noreferrer" data-project-name="awr")
            p.text--label.text--muted 2016 - 2021
            h3.mt0.mb0 Advanced#[br]Web Ranking
          .projects__list--mobscreen


  .container
    .section#process
      .section__title.show-on-scroll
        h2.mt0.h0 The way I get things done
      .section__content.show-on-scroll
        p.text--muted The process is a crucial part of getting things done, that’s why throughout the years, I improved my workflow, which today can be resumed in only a few steps.
        ul.list-unstyled.process-list
          li
            h4.mb0 Starting from a strategy
            p.text--muted Spontaneity is cool, but when it comes to a product, you would want a strategy that will determine a clear vision of the project. Before jumping in, there will be lots of questions about the product and its direction.
          li
            h4.mb0 Moving to execution
            p.text--muted With the information gathered from the above step, we gonna bring the vision to life. This will result in a product prototype with a strong visual design language and flawless user experience which is ready to be implemented.
          li
            h4.mb0 Resulting a real product
            p.text--muted Once the prototype has been approved, development starts. Using the latest technologies stack, the product will soon be ready to see the real world. This will result in an implemented interface that is fully maintainable, fast, and accessible.
