extends /layout/frontpage

//- Page specific vars
block vars
  -
    page = {
      title: "Bogdan Petrescu - Product Designer · Front-end Developer",
      description: "Bogdan Petrescu - Product Designer · Front-end Developer"
    }

block header
  .profile
  .bio
    h1.h0.mb0.mt0 Bogdan Petrescu
    h1.text--slim.mt0 a designer crafting#[br]digital experiences
    a(href="/about.html").btn #[span ↪] Read my story

block content
  .container
    .project
      .project--screenshot
        img(src="/assets/img/awr-overview.png" alt="Advanced Web Ranking presentation screenshot").img-fluid
      a(href="/").project__details
        span.project__details--cta ↪
        .project__details--info
          span.text--small.text--muted.mb0.mt0 2016 - Present
          h2.h3.mt0.text--normal Advanced Web Ranking
          p A little story about how we redesigned our website from zero to hero in just a few months.

    .project.project--alt
      p.text--small 2018
      .project--screenshot
        img(src="/assets/img/awr-overview.png" alt="Advanced Web Ranking presentation screenshot").img-fluid
        .project__details
          .project__details--title
            span AWR
            span Studyr
          a(href="/about.html") Read study

  .container
    section
      ul#dribbbleShots.list-unstyled
    p.text--center Explore more 'behind the scenes' shots on #[a(href="https://dribbble.com/bogdanptr") Dribbble]