extends /layout/project-page

//- Page specific vars
block vars
	-
		page = {
			title: "Bogdan Petrescu - Redesinging Advanced Web Ranking website",
			description: "Redesinging Advanced Web Ranking website"
		}

block content
	.grid.grid--mb0.grid__justify--center
		.grid__col--md12.text--center
			h1.mt0 Redesigning #[br] Advanced Web Ranking website
			a(href="https://www.advancedwebranking.com/").text--muted.highlight advancedwebranking.com
	
	p.small.text--muted My role
	ul.list-unstyled
		li.text--strong Design research
		li.text--strong Visual design
		li.text--strong Front-end implementation

	.grid.grid--gutter.grid--vmiddle.grid--pad
		.grid__col--lg6
			.module
				h2.mt0 The problem
				p Self-taught product designer and front-end developer based in Romania. I am passionate about solving problems through use of design and technological implementations. I put a strong emphasis on user experience, responsive web design and web accessibility. Currently getting up in the morning to design stuff at Caphyon.
		.grid__col--lg6
			.module
				img(src="https://placehold.it/1024x750").img-fluid

	.grid.grid--gutter.grid--vmiddle.grid--pad
		.grid__col--lg6
			.module
				img(src="https://placehold.it/1024x750").img-fluid
		.grid__col--lg6
			.module
				h2.mt0 The process
				p Self-taught product designer and front-end developer based in Romania. I am passionate about solving problems through use of design and technological implementations. I put a strong emphasis on user experience, responsive web design and web accessibility. Currently getting up in the morning to design stuff at Caphyon.

	.grid.grid--gutter.grid--vmiddle.grid--pad
		.grid__col--lg6
			.module
				h2.mt0 The solution
				p Self-taught product designer and front-end developer based in Romania. I am passionate about solving problems through use of design and technological implementations. I put a strong emphasis on user experience, responsive web design and web accessibility. Currently getting up in the morning to design stuff at Caphyon.
		.grid__col--lg6
			.module
				img(src="https://placehold.it/1024x750").img-fluid
	
	