/*
Core
*/


// DOM

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: map-get($color, black);
  background-color: #fff;
  font-size: 1rem;
  margin: 0 2rem;
}

// Main layouts

.mainNav {
  display: flex;
  align-items: baseline;
  position: sticky;
  top: 2rem;
  z-index: 10;
  max-width: 1280px;
  margin: 0 auto;

  span {
    margin-left: .3rem;
  }

  &__item {
    margin-left: auto;
    letter-spacing: $letter-space;
  }
}

.mark {
  font-family: 'Libre Baskerville', serif;
  display: inline-block;
  // background: url(https://media.giphy.com/media/xThuWlT47FLpqr1giY/giphy.gif);
  background-size: 100%;
  background-position: top center;
  -webkit-background-clip: text;
  clip-path: polygon(0 30%, 100% 30%, 100% 80%, 0 80%);
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
  color: #111;
}

.mainFooter {
  margin: 0 -2rem;
  background-color: #F5F5F5;

  &--info {
    padding: 2rem 0;
  }

  .waves {
    background-image: url(/assets/img/waves.svg);
    height: 100px;
    width: 100%;
    background-size: 80%;
    background-repeat: repeat-x;
    background-position: top center;
    margin-bottom: -2rem;
    margin-top: 2rem;
  }
}

// Core components

.section {
  grid-column: 1;
  width: 80%;
  margin: 5rem 0 5rem auto;

  &--alt {
    grid-column: 2;
    margin: 5rem 0;
  }
}

hr {
  opacity: .3;
}

svg {
  vertical-align: middle;
}

// Breakpoints

@media screen and (min-width: 1025px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1281px) {
  html {
    font-size: 20px;
  }
}