/*
Core
*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 768px) { // 1
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 17px;
  }
}

body {
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.25;
  color: #222;
  margin: 0;
}

.logo {
  fill: #fff;
  display: inline-block;
}

.wave {
  animation: wave-animation .7s ease infinite;
  transform-origin: bottom center;
  display: inline-block;
  margin-right: .5rem;
}

@keyframes wave-animation {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.section {

  &__heading {
    color: map-get($color , yellow);
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

aside {
  text-align: right;

  li {
    margin-bottom: .5rem;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: map-get($color, yellow);
    }
  }
}

.project {
  position: relative;
  margin-bottom: 6rem;

  &__img {
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 350px;
    width: 100%;

    &::before {
      content: "";
      display: block;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    position: absolute;
    right: 0;
    bottom: -50px;
    max-width: 350px;
    background-color: #fff;
    color: map-get($color , black) !important;
    padding: 2rem;

    svg {
      transition: .1s ease-in;
      vertical-align: middle;
      margin-left: .5rem;
    }

    &:hover {
      svg {
        margin-left: 1rem;
      }

      h3 {
        text-decoration: underline;
      }
    }
  }
}

.project__info:hover {
  .project__img {
    background-size: 120%;
  }
}

.about {

  &__pic {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .3;
    z-index: -1;;
    width: 300px;
  }
}

hr, .hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-color: rgba(255,255,255,0.1);
}

@media screen and (max-width: 768px) {
  .about__pic {
    display: none;
  }

  .about__social {
    text-align: left;
  }
}
