/*
Layout
*/

.container {
  max-width: 80vw;
  width: 100%;
	margin: 0 auto;
	padding: 0 $gutter/2;
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1280px;
  }
}

// Grid
.grid {
  display: grid;

  &-2 {
    grid-template-columns: 1fr 1fr;
  }
}

// Parallax
// $parallax-perspective : 1 !default;
// $parallax-element     : "body" !default;
// $parallax-ios         : true !default;

// @mixin parallax-init(
//   $perspective  : $parallax-perspective,
//   $element      : $parallax-element,
//   $parallax-ios : $parallax-ios
//   ) {
//   @if $element == "body" {
//     html, body {
//       width: 100%;
//       height: 100%;
//       margin: 0;
//       padding: 0;
//       overflow: hidden;
//     }
//   }
//   #{$element} {
//     overflow: auto;
//     perspective: $perspective * 1px;
//     transform-style: preserve-3d;
//     // Allows for smooth scrolling but disables parallax effects.
//     @if $parallax-ios == false {
//       -webkit-overflow-scrolling: touch;
//     }
//     // Preserve 3D
//     &, * {
//       transform-style: preserve-3d;
//     }
//   }
// }

// @mixin parallax(
//   $distance    : 0,
//   $perspective : $parallax-perspective
//   ) {
//   transform:
//     translateZ($distance * $perspective * 1px)
//     scale(abs($distance - 1))
//   ;
//   z-index: $distance * 1000;
// }

// @include parallax-init;

// .mainHeader {
// 	&__profile img:nth-child(2) {
// 		@include parallax(.3);
// 	}

// 	&__profile img:nth-child(2) {
// 		@include parallax(.3);
// 	}
// }

// .section__info--quote {
// 	@include parallax(-.3);
// }

// Sections
.section {
	margin-top: 13rem;
  margin-bottom: 6rem;
  width: 60%;

	&__title {
	  display: block;
	  position: relative;
	  margin: 0;
	  color: transparent;
	  -webkit-text-stroke: 1px #fff;
	  text-transform: uppercase;

	  &::before {
      content: "";
      position: absolute;
      left: -5rem;
      top: -6rem;
      width: 13rem;
      height: 13rem;
      background-image: linear-gradient(-30deg, map-get($color, primary), rgba(240, 43, 0, 0) 75%);
      border-radius: 50%;
      z-index: -1;
	  }
	}
}

.section--alt {
  .section {
    &__title {
      text-align: right;

      &::before {
        left: unset;
        right: -5rem;
        background-image: linear-gradient(30deg, map-get($color, primary), rgba(240, 43, 0, 0) 75%);
      }
    }
  }
}

article {
  width: 50%;
  margin: 0 5rem auto;
}