/*
Layout
*/

.container {
  width: 100%;
	margin: 0 auto;
	padding: 0 $gutter/2;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}

// Grid
.grid {
  display: grid;

  &-2 {
    grid-template-columns: 1fr 1fr;
  }
}

// Sections
.section {
	margin-top: 6rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 769px) {
  .section {
    margin-top: 13rem;
    margin-bottom: 6rem;

    &__title {
      width: 80%
    }

    &__content {
      width: 50%;
      margin-left: auto;
      margin-top: 6rem;
    }
  }
}