/*
Layout
*/

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 $gutter/2;
}

.grid {
	display: grid;

	&-2 {
		grid-template-columns: 1fr 1fr;
	}

	&-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	&--gap {
		grid-gap: $gutter $gutter*2;
	}

	// Helpers
	&__align {
		&--center {
			align-items: center !important;
		}
	}
}