/*
Variables
*/

// Grid
$gutter: 30px !default;
$grid-columns: 12 !default;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1281px
) !default;

// Colors
// map-get($color, black)
$color: (
  background: #070707,
  primary:#ff0c3a,
  secondary: #fff,
  gray: #a9a9a9
);

$font-sans-serif-display: 'Monument Extended', sans-serif !default;
$font-sans-serif-text: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;

// Spacing
$letter-space: 2px;