/*
Variables
*/

// Grid
$gutter: 30px !default;
$grid-columns: 12 !default;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1281px
) !default;

// Colors
// map-get($color, black)
$color: (
  black: #16171B,
  link: #0154FF,
  purple: #8069C3
);
