/*
Variables
*/

// Grid
$gutter: 30px !default;
$grid-columns: 12 !default;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1281px
) !default;

// Colors
// map-get($color, black)
$color: (
  background: #070707,
  primary:#ff0c3a,
  secondary: #fff,
  gray: #a9a9a9
);

$font-sans-serif: 'Ilisarniq', sans-serif !default;

// Spacing
$letter-space: 2px;