/*
* Buttons
*/

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  padding: .3rem 1.3rem;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  color: map-get($color, black);
}

.btn--primary {
  border-color: map-get($color, black);
  box-shadow: 5px 5px 0 -2px #fff,
              5px 5px 0 0 map-get($color, black);

  &:hover {
    box-shadow: 5px 5px 0 0 map-get($color, black);
  }
}
