/*
* Featured work box
*/

@import "base/vars";

.bio {
  margin-bottom: 2rem;
}

.gallery {

  &--item {
    height: 500px;
    margin-bottom: 2rem;
    background-color: #f6f6f6;
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;

    &__heading {
      padding: 1.5rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
