@supports (display: flex) {
  .hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__nav {
      min-height: 100vh;
    }
  }

  @media screen and (max-width: 1024px) {
    .hero {
      min-height: calc(100vh - 73px);
    }
  }
}

.mainHeader {

  &__name {
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0,0,0,0.2);

  }

  &__content {
    font-family: 'Lora';
    color: map-get($color, black);
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: 400;
  }
}

.topBar {
  padding-top: 2rem;
  position: relative;
  z-index: 2;
}

.mainLogo {
  fill: map-get($color, black);
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}
