/*
* Helpers
*/

// Text helpers
.text {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--muted {
    opacity: .6;
  }
}

.small {
  font-size: 80% !important;
}

// Spacing
.mb0 {
  margin-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}

// ARIA
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Lists
.list-unstyled {
  list-style: none;
  text-decoration: none;
  padding: 0;

  li {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

// Images
.img-fluid {
  max-width: 100%;
  height: auto;
}

// Clearfix
.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

// Floats
.pull {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

// Alignments
.align-middle {
  vertical-align: middle;
}