/*
Helpers
*/

// Text helpers
.text {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--slim {
    font-weight: 300 !important;
  }

  &--normal {
    font-weight: 400 !important;
  }

  &--muted {
    color: map-get($color, gray) !important;
  }

  &--small {
    font-size: 70%;
  }

  &--label {
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: 3px;
  }

  &--secondary {
    color: map-get($color, primary);
  }
}

.small {
  font-size: 80% !important;
}

// Spacing
.mb0 {
  margin-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}

// ARIA
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Lists
.list-unstyled,
.list-unstyled--v {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.list-unstyled--v {
  li {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

// Images
.img-fluid {
  max-width: 100%;
  height: auto;
}

// Alignments
.align-middle {
  vertical-align: middle;
}