/*
Typography
*/

@font-face {
  font-family: 'Ilisarniq';
  src: url('/assets/fonts/Ilisarniq-Bold.woff2') format('woff2'),
       url('/assets/fonts/Ilisarniq-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/assets/fonts/Ilisarniq-Light.woff2') format('woff2'),
       url('/assets/fonts/Ilisarniq-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/assets/fonts/Ilisarniq-Regular.woff2') format('woff2'),
       url('/assets/fonts/Ilisarniq-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.h0,
h1, .h1 {
  line-height: 1;
  letter-spacing: -3px;
}

.h0,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 400;
}

.h0 {
  font-size: 5.5rem;
}

h1, .h1 {
  font-size: 4rem
}

h2, .h2 {
  font-size: 3rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

h2 + p {
  margin-top: .5rem; // selected project hardcoded margin
}


a {
  position: relative;
  color: currentColor;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: currentColor;
    transition: .4s cubic-bezier(.77,0,.175,1);
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}