/*
Project presentation
*/

.section {
    width: 50%;
    margin-left: auto;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 8rem;

  &--title {
    font-weight: 400;
    padding-top: 2rem;
  }

  img {
    position: absolute;
    left: -5rem;
    top: -2rem;
    opacity: .1;
    transform: rotate(-20deg);
  }
}

.project {
  display: flex;
  height: 100vh;
  background-color: #6D717A;

  &__details {
    width: 35%;
    padding-left: 4rem;
    padding-top: 4rem;
    color: #fff;
  }

  &__image {
    width: 50%;
    margin-left: auto;
    height: 95%;
    background-color: #D7D7D7;
    position: relative;
    top: -4rem;
    background-image: url(/assets/img/awr-overview2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__btn {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;

    span {
      margin-left: 1rem;
    }

    svg .circle {
      stroke-dasharray: 40%;
      stroke-dashoffset: 30px;
      opacity: .5;
    }

    &:hover {
      svg .circle {
        animation: draw 3s infinite;
        opacity: 1;
      }
    }

    // .circle-animation {
    //   animation: draw 3s infinite;
    // }

    @keyframes draw {
      50% {
        stroke-dashoffset: 100%;
        stroke-dasharray: 10px 50px;
      }
    }
  }
}

.project--alt {
  margin-left: auto;

  .project {
    &__details {
      right: initial;
      left: -2rem;
    }
  }
}

#dribbbleShots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.section-scroller {
  position: absolute;
  top: -2rem;
  z-index: -1;
  height: 100%;
  width: 100%;

  &::before {
    content: attr(data-section);
    position: absolute;
    top: -1.1rem;
    background-color: #fff;
    padding: .5rem;
    padding-left: 0;
    font-size: .8rem;
    font-weight: bold;
    z-index: 2;
  }

  span {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(0,0,0,.1);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 2px;
      width: 50px;
      background-color: map-get($color, black);
      animation: scroller 2s cubic-bezier(.7, .2, 0.3, 1) infinite;
    }
  }
}

@keyframes scroller {
  0% { left: 0;}
  100% { left: 100%;} // bar hardcoded height
}

// Media breakpoints
@media screen and (min-width: 769px) {

  // Scroller
  .section-scroller {
    top: 2rem;

    &::before {
      writing-mode: vertical-lr;
      top: 0;
      padding: .5rem 0;
    }

    span {
      overflow: hidden;
      position: absolute;
      top: 0;
      height: 400px;
      width: 2px;
      background-color: rgba(0,0,0,.1);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8rem;
        height: 50px;
        width: 2px;
      }
    }

    &--right {
      &::before {
        right: -3.6rem;
      }

      span {
        right: -3rem;
      }
    }

    &--left {
      &::before {
        left: -3.4rem;
      }

      span {
        left: -3rem;
      }
    }
  }

  @keyframes scroller {
    0% { top: 0;}
    100% { top: 100%;} // bar hardcoded height
  }

  // // Dribbble shots
  // #dribbbleShots {
  //   grid-template-columns: 1fr 1fr;
  // }

  .dribbble-shot {
    will-change: transition;
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(.95);
    }

    &:nth-child(odd) {
      margin-top: 5rem;
      margin-bottom: -5rem;
    }
  }
}