.extended-nav
  .hero.hero__nav.text--center
    ul.menu__nav.list-unstyled
      li.menu__nav--item.menu__nav--itemTop
        a(href = "/") About Me
      li.menu__nav--item.menu__nav--itemTop
        a(href = "/") Work
      li.menu__nav--item.menu__nav--itemTop
        a(href = "/") My Thoughts
      li.menu__nav--item.menu__nav--itemBottom
        a(href = "/") Twitter
      li.menu__nav--item.menu__nav--itemBottom
        a(href = "/") Dribbble
      li.menu__nav--item.menu__nav--itemBottom
        a(href = "/") Instagram
