block foot
  .container
    .mainFooter--mail
      h3.mt0 Interested in talking? #[br] Let's have a chat!
      a(href="mailto:me@bogdanpetrescu.com" title="Email Bogdan Petrescu") me@bogdanpetrescu.com

    .mainFooter--social
      ul.list-unstyled--v.mb0
        li
          a(href="https://twitter.com/bogdanptr" target="_blank" rel="noopener noreferrer") Twitter
        li
          a(href="https://dribbble.com/bogdanptr" target="_blank" rel="noopener noreferrer") Dribbble
        li
          a(href="https://www.instagram.com/bogdan.ptr/" target="_blank" rel="noopener noreferrer") Instagram

  script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src = "/assets/js/main.js")
