block foot
  .section
    .section__title.show-on-scroll
      p.text--label.text--muted Contact
      h2.mt0.h1 Let’s get#[br]in touch

  .mainFooter__info.show-on-scroll
    p.text--label.text--muted Wanna discuss ideas or just chat?
    a(href="mailto:hello@bogdanpetrescu.com").mt0.mainFooter__info--email
      h3.mt0.mb0.hidden.hidden--desktop hello@bogdanpetrescu.com
      h3.mt0.mb0.hidden.hidden--mobile Email Me
    .mainFooter__info--social
      p.text--label.text--muted Let's connect
      ul.list-unstyled.mb0
        li
          a(href="https://twitter.com/bogdanptr" target="_blank" rel="noopener noreferrer")
            h3.mt0.mb0 Twitter
        li
          a(href="https://dribbble.com/bogdanptr" target="_blank" rel="noopener noreferrer")
            h3.mt0.mb0 Dribbble
        li
          a(href="https://www.instagram.com/bogdan.ptr/" target="_blank" rel="noopener noreferrer")
            h3.mt0.mb0 Instagram
  p.text--small.text--muted.text--center Designed and coded by Bogdan Petrescu ©2020

  script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src = "/assets/js/main.js")
