block foot
  .mainFooter__cta
    .container
      h3.mt0.mb0 Work inquiry, #[br]Question,#[br]Something else?
      a(href="mailto:me@bogdanpetrescu.com" title="Email Bogdan Petrescu").mainFooter__cta--mail Let's have a chat!

  .container
    hr
    .mainFooter__social
      p.mt0.mb0.text--small.text--muted 2019, Bogdan Petrescu

      ul.list-unstyled--v.mb0.text--small
        li
          a(href="https://twitter.com/bogdanptr" target="_blank" rel="noopener noreferrer") Twitter

        li
          a(href="https://dribbble.com/bogdanptr" target="_blank" rel="noopener noreferrer") Dribbble

        li
          a(href="https://www.instagram.com/bogdan.ptr/" target="_blank" rel="noopener noreferrer") Instagram

  script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src = "/assets/js/main.js")
