block foot
  .text--center
    h3 Wanna talk ? Reach me out by #[a(href="https://www.caphyon.com/" class="highlight") email] or #[a(href="https://twitter.com/bogdanptr" class="highlight") @bogdanptr]
    ul.list-unstyled-v
      li
        a(href="https://twitter.com/bogdanptr" aria-label="Twitter account")
          svg(width="40" height="40")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter")
      li
        a(href="https://www.instagram.com/bogdan.ptr/" aria-label="Instagram account")
          svg(width="40" height="40")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram")
      li
        a(href="https://www.facebook.com/bogdanptr0" aria-label="Facebook account")
          svg(width="40" height="40")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook")

  script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src = "/assets/js/main.js")
