block foot
  .section.section--alt
    h1.h0.section__title Get in#[br]Touch

  .mainFooter__info
    p.text--label.text--muted Wanna chat or just discuss ideas?
    a(href="mailto:hello@bogdanpetrescu.com").mt0.mainFooter__info--email
      h2.mt0.mb0 hello@bogdanpetrescu.com
    .mainFooter__info--social
      p.text--label.text--muted Let's connect
      ul.list-unstyled.mb0
        li
          a(href="https://twitter.com/bogdanptr" target="_blank" rel="noopener noreferrer")
            h2.mt0.mb0 Twitter
        li
          a(href="https://dribbble.com/bogdanptr" target="_blank" rel="noopener noreferrer")
            h2.mt0.mb0 Dribbble
        li
          a(href="https://www.instagram.com/bogdan.ptr/" target="_blank" rel="noopener noreferrer")
            h2.mt0.mb0 Instagram
  p.text--small.text--muted.text--center Designed and coded by Bogdan Petrescu ©2020

  script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src = "/assets/js/main.js")
