block foot
  .container
    .mainFooter--cta
      a(href="#")
        h3.h1.mt0.mb0 Let's
        span Wanna chat?
        br
        span Or just discuss ideas?
        h3.h1.mt0.mb0 Have a
        br
        h3.h1.mt0.mb0 Chat
        span me@bogdanpetrescu.com

    .mainFooter--contact
      ul.list-unstyled.mb0
        li
          a(href="https://twitter.com/bogdanptr" target="_blank" rel="noopener noreferrer") Twitter

        li
          a(href="https://dribbble.com/bogdanptr" target="_blank" rel="noopener noreferrer") Dribbble

        li
          a(href="https://www.instagram.com/bogdan.ptr/" target="_blank" rel="noopener noreferrer") Instagram
        p.mb0.text--muted.text--small © 2019, Bogdan Petrescu loves solving problems

  script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src = "/assets/js/main.js")
