
.row.middle-xs
  .col-xs-6
    a.logo(href="/" aria-label="Logo")
      svg(width="30" height="30")
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#logo")

  .col-xs-6.text--right
    .nav
      a.btn.btn--primary(href="/") About me
      a.btn.btn--primary(href="/") Thoughts
