a.logo(href="/" aria-label="Personal logo")
	svg(width="30" height="30")
		use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#logo")

p.mt0 #[span.wave 👋] I am Bogdan, a #[abbr(title='Someone who is solving problems through design and code.') product designer]
h1.h0.mt0 I am creating digital products
p.mt0 I am a self-taught designer and front-end developer based in Romania. I am passionate about solving problems through use of design and technological implementations. I put a strong emphasis on user experience, responsive web design and web accessibility.
p Currently working at #[a(href='http://www.caphyon.com/') Caphyon]

ul.list-unstyled
	li
		a.small(href="https://twitter.com/bogdanptr") Twitter.
	li
		a.small(href='https://dribbble.com/bogdanptr') Dribbble.
	li
		a.small(href="https://www.instagram.com/bogdan.ptr/") Instagram.