a.logo(href="/" aria-label="Logo")
  svg(width="25" height="25")
    use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#logo")

ul
  li
    a(href="#") About me
  li
    a(href="#") Work
  li
    a(href="#") Contact
