/*
* Grid
*/
@import "base/vars";

.container {
  max-width: 960px;
  padding-left: $gutter * 1px;
  padding-right: $gutter * 1px;
  margin-left: auto;
  margin-right: auto;
}

.cf {
  content: "";
  display: block;
  clear: both;
}

$columns: 10, 20, 25, 33, 40, 50, 60, 67, 75, 80, 90, 100;

.grid {
  margin-bottom: $space * 3px;
  text-rendering: optimizespeed;

  &--gutter {
    margin-left: $space * -2px;
    margin-right: $space * -2px;
  }
}

[class^="grid__col--"] {
  display: inline-block;
  width: 100%;
  padding-left: $space * 2px;
  padding-right: $space * 2px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

@media screen and (min-width: 768px) {
  @each $column in $columns {
    .grid__col--#{$column} {
      width: $column * 1%;
    }
  }
}

// Helpers
.grid--middle>[class*='grid__col--'] {
  vertical-align: middle
}