/*
* Grid
*/
@import "base/vars";

.container {
  max-width: 980px;
  padding-left: $space * 1%;
  padding-right: $space * 1%;
  margin-left: auto;
  margin-right: auto;
}

.cf {
  content: "";
  display: block;
  clear: both;
}
